{{#each topViews as |top|}}
<div class="col-md-4">
    
        <div class="card item border-0 rounded-0" >
            <img class="card-img hv-img img_fixed" src="/uploads/{{top.gallery.0.filename}}" alt="Card image"/>
            <div class="card-img-overlay box_text text-center">
                <a href="/discover?category={{top.categories.0.name}}" class="badge badge-light">{{top.categories.0.name}}</a>
                <a href="/detail/{{top.id}}">
                    <h2 class="card-title text-white text-uppercase">{{top.name}}</h2>                
                </a>
                <p class="card-text text-white">
					Lorem Ipsum is simply dummy text of the printing and typesetting...
				</p>
            </div>
        </div>
</div>
{{/each}}
